---
layout: default
---

<div class="posts">
  <ul>
    {% for post in site.posts %}
      <li class="post-block">
        <a class="post-link" href="{{ post.url }}">
          {% assign featured_sign="" %}
          {% if post.featured %}
             {% assign featured_sign="[&#10033;] " %}
          {% endif %}
          {% assign spoiler_sign="" %}
          {% if post.spoiler %}
             {% assign spoiler_sign="[&#128065;] " %}
          {% endif %}
          <span class="framed-text">{{ featured_sign }}{{ spoiler_sign }}{{ post.title }}</span>
          {% assign read_time = post.content | number_of_words | divided_by: 200 %}
          {% if read_time > 0 %}
            <span class="framed-text">{{ read_time }} min</span>
          {% else %}
            <span class="framed-text">&lt;1 min</span>
          {% endif %}
          <span class="framed-text">{{ post.date | date: "%d/%m/%Y" }}</span>
        </a>
        {% if post.image %}
          <div class="wrapper-post-image">
            <img class="post-image" src="{{ post.image }}" alt="{{ post.title }}">
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
