---
layout: default
---

<div class="posts">
  <ul>
    {% for post in site.posts %}
      <li>
        <a class="post-block" href="{{ post.url }}">
          {% if post.featured %}
             <span>&#10033;</span>
           {% endif %}
           <span class="post-title">{{ post.title }}</span>
           <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
           <img src="{{ post.image }}" alt="{{ post.title }}">
          </a>
        </li>
      {% endfor %}
    </ul>
</div>
