---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "fonts";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $postBgColor;
  font: 18px/1.4 $textFont;
  color: $darkGray;
  font-weight: 150;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

//.container {
  //margin: 0px;
  //max-width: 100vw;
  //padding: 0px;
  //width: 100%;
//}

h1, h2, h3, h4, h5, h6 {
  text-indent: 0px;
  font-family: $headerFont;
  color: inherit;
  font-weight: 900;
  //line-height: 1.7;

  @include mobile {
    line-height: 1.2;
  }
}

h1 {
  font-size: 32px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  //margin: 15px 0;
  font-weight: 100;
}

a {
  color: inherit;
  cursor: pointer;
  &:hover, &:active {
    background: $elemColor;
   }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: upper-roman;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-weight: 100;
}

// Specify the color of the selection
::-moz-selection {
  color: $bgColor;
  background: $elemColor;
}
::selection {
  color: $bgColor;
  background: $elemColor;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  //margin-bottom: 20px;
}

.masthead {
  border-bottom: $lineThickness solid $lineColor;
  background: $headerBgColor;
  height: $headerHeight;
  align-items: center;
  align-content: center;

  @include mobile {
    text-align: center;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    padding-left: 0;
  }
}

.site-name {
  margin: 0;
  padding-left: 20px;
  color: $siteTitleColor;
  cursor: pointer;
  font-family: $siteTitleFont;
  font-weight: normal;
  font-size: 40px;
  text-decoration: none;
  text-shadow: $lineColor -2px 1px;

  a {
    text-decoration: none;
    background: none;
  }

  h1 {
    font-size: 48px;
  }

  @include mobile {
    padding-left: 0px;
  }
}

.social-links {
  display: flex;
  gap: calc(10px + 5%);
  padding: 10px;
  justify-content: end;
  color: $lineColor;
  font-weight: bold;

  a {
    text-decoration: none;
    background: $elemColor;
    &:hover, &:active {
      text-decoration: underline;
    }
  }

  @include mobile {
    justify-content: space-between;
  }
}

.social-link {
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

//
// .main
//

.post-block {
  width: 100vw;
  margin: 0px;
  border-bottom: $lineThickness solid $lineColor;
  text-decoration: none;
  font-size: 18px;
  flex-wrap: wrap;
  flex-direction: row;
  color: $postBlockTextColor;
  background: $postBlockBgColor;
  font-family: $postBlockTitleFont;
  display: flex;
  justify-content: space-around;

  @media screen {
    .post-image {
      display: none;
      position: absolute;
      z-index: 50;
      transform: translate(calc(50vw - 50%), 20px);
      filter: sepia(100%) hue-rotate(325deg) saturate(300%);
      -webkit-filter: sepia(100%) hue-rotate(325deg) saturate(300%);
      -moz-filter: sepia(100%) hue-rotate(325deg) saturate(300%);
    }
  }
  
  &:hover, &:active {
    color: $postBlockBgColor;
    background: $postBlockTextColor;
    text-decoration: none;
  }

  @media screen {
    &:hover {
      .post-image {
        display: block;
      }
    }
  }
}

.post-title {
  font-weight: normal;
  font-style: normal;
}

.post-date {
  font-weight: 100;
  font-style: italic;
}

.posts {
  ul, ol {
    margin: 0px;
    padding: 0px;
  }
}

//.posts > .post {
  // border-bottom: 2px solid $black;
  //font-family: $blackIron;
//}

//.posts > .post:last-child {
  //padding-bottom: 1em;
  //border-bottom: none;
//}

.post {
  color: $textColor;
  max-width: 750px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  text-indent: 20px;
  line-height: 120%;

  p {
    margin-bottom: 30px;
  }
  
  blockquote {
    margin: 1.8em .8em;
    border-left: 4px solid $bgColor;
    padding: 0.1em 1em;
    background: $elemColor;

    p {
      margin-bottom: 0px;
    }
  }

  a {
    text-decoration: underline dotted;
    &:hover, &:active {
      color: $textColor;
      background: $elemColor;
   }
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 150%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
   h1 {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
   }

  @include mobile {
    width: 90%;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: $lineThickness solid $black;
  background-color: $lemonYellow;
}

footer {
  margin-top: auto;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
//@import "svg-icons";
