@font-face {
    font-family: 'Deutsch Gothic';
    src: url(fonts/DEUTSCH-GOTHIC3.TTF) format('truetype');
}

@font-face {
    font-family: 'BlackIron';
    src: url(fonts/BLACKIRON-DEMO.REGULAR.TTF) format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(fonts/JETBRAINSMONOREGULAR.TTF) format('truetype');
}
