@font-face {
    font-family: 'Deutsch Gothic';
    src: url(../fonts/DEUTSCH-GOTHIC3.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Black Iron';
    src: url(../fonts/BLACKIRON-DEMO.REGULAR.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(../fonts/JETBRAINSMONOBOLD.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOBOLDITALIC.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOITALIC.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOLIGHT.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOLIGHTITALIC.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOMEDIUM.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOMEDIUMITALIC.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOREGULAR.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOTHIN.TTF) format('truetype'),
        url(../fonts/JETBRAINSMONOTHINITALIC.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}
