@font-face {
    font-family: 'Deutsch Gothic';
    src: url(../fonts/DEUTSCH-GOTHIC3.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Black Iron';
    src: url(../fonts/BLACKIRON-DEMO.REGULAR.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harrowgate';
    src: url(../fonts/HARROWGATE.REGULAR.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Robert';
    src: url(../fonts/ROBERT.REGULAR.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sligoil';
    src: url(../fonts/SLIGOIL-MICRO.OTF) format('opentype');
    font-weight: normal;
    font-style: normal;
}
