
//
// VARIABLES
//

// Colors
$green: #C0F472;
$beige: #F6F0E1;
$brown: #908453;
$teal: #006D83;
$red: rgb(255, 65, 0);
$lemonYellow: #CEDC00;
$darkGreen: rgb(50, 103, 100);
$lightGreen: #889147;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Color templates
$bgColor: light-dark($lightGreen, $black);
$elemColor: light-dark($black, $lightGreen);

$headerBgColor: none;
$siteTitleColor: $elemColor;
$lineColor: $elemColor;
$postBlockBgColor: $bgColor;
$postBlockTextColor: $elemColor;
$textColor: $elemColor;

//$imageFilter: grayscale(100%) sepia(100%) hue-rotate(50deg);
$imageFilter: grayscale(100%);

// Font stacks
$harrowgate: "Harrowgate";
$robert: "Robert";
$sligoil: "Sligoil";
$deutschGothic: "Deutsch Gothic";
$blackIron: "Black Iron";
$jetBrainsMono: "JetBrains Mono";
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Font templates
$siteTitleFont: $deutschGothic;
$postBlockTitleFont: $sligoil;
$postBlockDateFont: $deutschGothic;
$headerFont: $sligoil;
$textFont: $sligoil;

// Other templates
$lineThickness: 2px;
$maxWidth: min(90vw, 750px);
$postLinkGap: 50px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
