
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$green: #C0F472;
$beige: #F6F0E1;
$brown: #908453;
$teal: #006D83;
$red: #FF7571;
$orange: #F5873B;
$warmYellow: #F9A01B;

$lemonYellow: #CEDC00;
$grayGreen: rgb(50, 103, 100);

$redGreen: linear-gradient(90deg, $red 0%, $orange 6%, $green 33%);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Color templates
$bgColor: $grayGreen;
$elemColor: $lemonYellow;

$headerBgColor: $bgColor;
$siteTitleColor: $elemColor;
$lineColor: $elemColor;
$postBlockBgColor: $bgColor;
$postBlockTextColor: $elemColor;
$textColor: $darkerGray;

// Font stacks
$harrowgate: "Harrowgate";
$robert: "Robert";
$sligoil: "Sligoil";
$deutschGothic: "Deutsch Gothic";
$blackIron: "Black Iron";
$jetBrainsMono: "JetBrains Mono";
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Font templates
$siteTitleFont: $deutschGothic;
$postBlockTitleFont: $sligoil;
$postBlockDateFont: $deutschGothic;
$headerFont: $sligoil;
$textFont: $sligoil;

// Other templates
$headerHeight: 15px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
